.resetPasswordBlock {
  min-width: 300px;
  max-width: 500px;
}

.verifyCodeBlock {
  width: 100%;
}

.nextButton {
  width: 40%;
  float: right;
  text-align: center;
}

.error {
  color: #c5030f;
  font-weight: 400;
  font-size: 14px;
  position: absolute;
  bottom: -24px;
}

.VerifyHeader {
  margin-top: 40px;

  h2 {
    font-size: 26px;
    line-height: 140%;
    font-weight: 700;
    margin-bottom: 8px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }
}

.ConfirmPasswordContainer {
  position: relative;
}
