.startAutomation {
  margin-bottom: 10px;
}
.headingContainer {
  margin: 0 !important;
  padding: 0 2.5rem;
  padding-right: 0;
  margin-right: 0.5rem !important;
}
.cropHeading {
  font-size: 1.37rem !important;
}

.cropList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  margin: 1.5rem 0;
  margin-bottom: 0;
}

.headerWrapper {
  display: flex;
  align-items: center;
}
