.Wrapper {
  overflow: hidden;
  min-width: 96px;
  height: 96px;
  border-radius: 6px;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.Mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  background: linear-gradient(
    180deg,
    rgba(6, 20, 37, 0.9) 0%,
    rgba(6, 20, 37, 0.892218) 6.67%,
    rgba(6, 20, 37, 0.868041) 13.33%,
    rgba(6, 20, 37, 0.826506) 20%,
    rgba(6, 20, 37, 0.76733) 26.67%,
    rgba(6, 20, 37, 0.691403) 33.33%,
    rgba(6, 20, 37, 0.601304) 40%,
    rgba(6, 20, 37, 0.501578) 46.67%,
    rgba(6, 20, 37, 0.398422) 53.33%,
    rgba(6, 20, 37, 0.298695) 60%,
    rgba(6, 20, 37, 0.208597) 66.67%,
    rgba(6, 20, 37, 0.13267) 73.33%,
    rgba(6, 20, 37, 0.0734939) 80%,
    rgba(6, 20, 37, 0.031959) 86.67%,
    rgba(6, 20, 37, 0.00778248) 93.33%,
    rgba(6, 20, 37, 0) 100%
  );
}

.Status {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
}

.OuterCircle {
  width: 20px;
  height: 20px;
  border: 2px solid white;
  position: relative;
  border-radius: 50%;
}

@property --percentage {
  initial-value: 0%;
  inherits: false;
  syntax: "<percentage>";
}

.PieAnimation {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 1px;
  left: 1px;
  background: conic-gradient(white var(--percentage), transparent 0);
  border-radius: 50%;
  animation: timer 320ms;
}

// .PieAnimationSvg {
//   animation-duration: 3s;
//   animation-name: fillPieIn;
// }

.PieAnimationPaused {
  animation-play-state: paused;
}

@keyframes timer {
  to {
    --percentage: 100%;
  }
}

// @keyframes fillPieIn {
//   0% {
//     d: path('M10 3Z');
//   }
//   10% {
//     d: path('M10 3C11.3845 3 12.7378 3.41054 13.889 4.17971L10 10Z');
//   }
//   20% {
//     d: path('M10 3C11.3845 3 12.7378 3.41054 13.889 4.17971C15.0401 4.94888 15.9373 6.04213 16.4672 7.32122L10 10V3Z');
//   }
//   30% {
//     d: path('M10 3C11.3845 3 12.7378 3.41054 13.889 4.17971C15.0401 4.94888 15.9373 6.04213 16.4672 7.32122C16.997 8.6003 17.1356 10.0078 16.8655 11.3656L10 10V3Z');
//   }
//   40% {
//     d: path('M10 3C11.3845 3 12.7378 3.41054 13.889 4.17971C15.0401 4.94888 15.9373 6.04213 16.4672 7.32122C16.997 8.6003 17.1356 10.0078 16.8655 11.3656C16.5954 12.7235 15.9287 13.9708 14.9497 14.9497L10 10V3Z');
//   }
//   50% {
//     d: path('M10 3C11.3845 3 12.7378 3.41054 13.889 4.17971C15.0401 4.94888 15.9373 6.04213 16.4672 7.32122C16.997 8.6003 17.1356 10.0078 16.8655 11.3656C16.5954 12.7235 15.9287 13.9708 14.9497 14.9497 C14.9497 14.9497 13.75 17 10 17L10 10V3Z');
//   }
//   60% {
//     d: path('M10 3C11.3845 3 12.7378 3.41054 13.889 4.17971C15.0401 4.94888 15.9373 6.04213 16.4672 7.32122C16.997 8.6003 17.1356 10.0078 16.8655 11.3656C16.5954 12.7235 15.9287 13.9708 14.9497 14.9497 C14.9497 14.9497 13.75 17 10 17 C10 17 7.725 17 5.885 15.663L10 10V3Z');
//   }
//   70% {
//     d: path('M10 3C11.3845 3 12.7378 3.41054 13.889 4.17971C15.0401 4.94888 15.9373 6.04213 16.4672 7.32122C16.997 8.6003 17.1356 10.0078 16.8655 11.3656C16.5954 12.7235 15.9287 13.9708 14.9497 14.9497 C14.9497 14.9497 13.75 17 10 17 C10 17 7.725 17 5.885 15.663 C5.885 15.663 3.9 14 3.342 12.163 L10 10V3Z');
//   }
//   80% {
//     d: path('M10 3C11.3845 3 12.7378 3.41054 13.889 4.17971C15.0401 4.94888 15.9373 6.04213 16.4672 7.32122C16.997 8.6003 17.1356 10.0078 16.8655 11.3656C16.5954 12.7235 15.9287 13.9708 14.9497 14.9497 C14.9497 14.9497 13.75 17 10 17C10 17 3.7 17 3 10L10 10V3Z');
//   }
//   90% {
//     d: path('M10 3C11.3845 3 12.7378 3.41054 13.889 4.17971C15.0401 4.94888 15.9373 6.04213 16.4672 7.32122C16.997 8.6003 17.1356 10.0078 16.8655 11.3656C16.5954 12.7235 15.9287 13.9708 14.9497 14.9497 C14.9497 14.9497 13.75 17 10 17C10 17 3.7 17 3 10L10 10V3Z');
//   }
//   100% {
//     d: path('M10 3C11.3845 3 12.7378 3.41054 13.889 4.17971C15.0401 4.94888 15.9373 6.04213 16.4672 7.32122C16.997 8.6003 17.1356 10.0078 16.8655 11.3656C16.5954 12.7235 15.9287 13.9708 14.9497 14.9497 C14.9497 14.9497 13.75 17 10 17C10 17 3.7 17 3 10L10 10V3Z');
//   }
// }
