.Wrapper:global(.ant-radio-group) {
  background-color: #D9DDE1;
  box-shadow: 0px 0.5px 1px rgba(6, 20, 37, 0.05);
  border-radius: 10px;
  height: 72px;
  padding: 2px;
  width: 320px;

  :global {
    .ant-radio-button-wrapper {
      height: 100%;
      background: transparent;
      border: none;
      color: #061425;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      display: inline-flex;
      align-items: center;
      width: 50%;
      justify-content: center;
      border-radius: 8px;

      &.ant-radio-button-wrapper-checked {
        background-color: #ffffff;
        box-shadow: 0px 0px 2px rgb(6 20 37 / 16%), 0px 1px 2px rgb(6 20 37 / 12%);
      }

      &:before {
        display: none;
      }
    }
  }
}
