.inputWithLabel {
  width: 98%;
  Label {
    font-size: 1rem;
    font-weight: 600;
  }
}
.newNameLabel{
  margin-bottom: 8px;
}

/* .inputWithLabelVertical{
    width: 100%;
};

.inputWithLabelHorizontal{
    width: 100%;
}; */
