.wrapper {
  // padding: 1.5rem;

  .heading {
    font-size: 16px;
    font-weight: 600;
  }
  .subHeading {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  .learnMoreBtn {
    color: #0038ff;
    padding: 0px;
  }

  .input {
    margin-bottom: 2rem;
  }

  .errorText {
    margin-top: -1.5rem;
    color: red;
    font-size: 0.8125rem;
  }

  .horizontalLine {
    background: #cbd5e1;
    height: 1px;
    margin-bottom: 2rem;
    // border: 1px solid #cbd5e1;
  }
}
