.leftWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-right: 1px solid #eff1f3;
  min-width: 21.25rem;
  max-width: 21.25rem;
  position: relative;
}

.leftHeader {
  border-bottom: 1px solid #eff1f3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;

  height: 4.75rem;

  background: #ffffff;
  /* Neutral/200 */

  // border: 1px solid #eff1f3;
  /* Elevation / 100 */

  box-shadow: 0px 0.5px 1px rgba(6, 20, 37, 0.05);

  font-weight: 600;
  font-size: 1rem;
}

.heading {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}
.subHeading {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #626970;
}

.radiusBtn {
  display: flex;
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  color: #061425;
  border: 0.5px solid #c3ccd9;
  box-shadow: 0px 0.5px 1px rgba(6, 20, 37, 0.05);
  border-radius: 8px;
  background: #ffffff;
  align-items: center;
  justify-content: center;
  width: 50%;
  // &:hover {
  //   background: #061425;
  //   color: #ffffff;
  //   & > svg {
  //     fill: #ffffff;
  //     & > path {
  //       fill: #ffffff;
  //     }
  //   }
  // }
}

.btn {
  display: flex;
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  width: 136px;
  height: 44px;
}

.iconBtn {
  background-color: #ffffff;
  border: none !important;
  cursor: pointer;
  width: 4px;
}

.cursizePanel {
  border: 1px solid #e0e4ed;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 2.87154px 22.9723px 28.7154px -2.87154px rgba(8, 33, 63, 0.08);
  backdrop-filter: blur(6px);
}

.circle {
  border: 1.5px solid #0038ff;
  border-radius: 50%;
  background-color: #7997ff;
  // padding: 8px;
  width: 100%;
  height: 100%;
}

.toolTip {
  font-size: 12px !important;
  font-weight: 600 !important;
  margin: 8px !important;
  display: flex;
  justify-content: space-between;
  z-index: 50;
}

.rangeInput {
  margin-top: 16px;
  -webkit-appearance: none;

  /*progress support*/
  &.sliderProgress {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 20px + var(--ratio) * (100% - 20px));
  }

  &:focus {
    outline: none;
  }

  /*webkit*/
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 1em;
    background: #ffffff;
    border: 6px solid #0038ff;
    margin-top: calc(3px * 0.5 - max(20px * 0.5, 6px));
    cursor: pointer;
  }

  &::-webkit-slider-runnable-track {
    height: 3px;
    border: none;
    border-radius: 0.5em;
    background: #efefef;
    box-shadow: none;
  }

  &.sliderProgress::-webkit-slider-runnable-track {
    background: linear-gradient(#7997ff, #7997ff) 0 / var(--sx) 100% no-repeat, #efefef;
  }
}

.confirmModal {
  margin: auto;
  width: 386px !important;
  max-width: 100%;

  :global {
    .ant-modal-content {
      box-shadow: 0px 12px 16px -8px rgb(6 20 37 / 16%);
      border-radius: 12px;
      padding: 0;

      .ant-modal-close {
        right: 19px;
        top: 24px;
      }

      .ant-modal-header {
        border-bottom: 0;
        padding: 52px 24px 8px 24px;
        border-radius: 12px 12px 0 0;

        .ant-modal-title {
          display: flex;
          justify-content: center;
          font-weight: bold;
          font-size: 20px;
          line-height: 28px;
          color: #061425;
        }
      }

      .ant-modal-body {
        padding: 0 24px 24px 24px;
      }

      .ant-modal-footer {
        display: flex;
        justify-content: flex-end;
        border-top: 0;
        padding: 0 24px 24px 24px;

        button {
          &:last-child {
            margin-left: 16px;
          }
        }
      }
    }
  }

  .BtnClose {
    width: 20px !important;
    height: 20px;
  }

  &.Horizontal {
    :global {
      .ant-modal-content {
        .ant-modal-header {
          padding: 20px 16px 20px 68px;
        }
      }
    }
  }
}

.iconBtn {
  background-color: #ffffff;
  border: none;
}

.ellipsis {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.kbShortcutRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  color: #8697ab;
  font-size: 14px;
  font-weight: 400;
}

.shortcuts {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.shortcutLabel {
  padding: 10px 0;
}

.shortcutKey {
  padding: 7px 14px;
  border: 1px solid #eff1f3;
  border-radius: 2px;
}
