.Wrapper {
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #eff1f3;
  position: relative;
  // position: relative;
  // margin-bottom: 1.5rem;
  // margin-right: 2rem;
  // width: calc((100% - 220px) / 6);
  // height: 224px;
  // float: left;

  .ImageView {
    position: relative;
    // aspect-ratio: 192/152;
    background-color: #eff1f3;
    height: 220px;

    img {
      height: 100%;
      width: 100%;
      // object-fit: contain;
    }

    :global {
      .ant-image.fit-cover .ant-image-img {
        object-fit: cover !important;
      }

      .ant-image.fit-contain .ant-image-img {
        object-fit: contain !important;
      }
    }

    .Mask {
      position: absolute;
      background: linear-gradient(
        180deg,
        rgba(6, 20, 37, 0.8) 0%,
        rgba(6, 20, 37, 0.793082) 6.67%,
        rgba(6, 20, 37, 0.771592) 13.33%,
        rgba(6, 20, 37, 0.734672) 20%,
        rgba(6, 20, 37, 0.682071) 26.67%,
        rgba(6, 20, 37, 0.61458) 33.33%,
        rgba(6, 20, 37, 0.534493) 40%,
        rgba(6, 20, 37, 0.445847) 46.67%,
        rgba(6, 20, 37, 0.354153) 53.33%,
        rgba(6, 20, 37, 0.265507) 60%,
        rgba(6, 20, 37, 0.18542) 66.67%,
        rgba(6, 20, 37, 0.117929) 73.33%,
        rgba(6, 20, 37, 0.0653279) 80%,
        rgba(6, 20, 37, 0.028408) 86.67%,
        rgba(6, 20, 37, 0.00691776) 93.33%,
        rgba(6, 20, 37, 0) 100%
      );
      height: 42%;
      width: 100%;
      left: 0;
      top: 0;
    }

    .Spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .Progress {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 0.75rem;
      font-weight: 600;
    }
  }

  .ImageView {
    :global {
      & .ant-image {
        height: 100% !important;
        width: 100% !important;
      }
    }
  }

  .ContentView {
    padding: 0.875rem 0.75rem 0.75rem 0.75rem;
    background-color: white;

    .Section {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .ImageName {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      span {
        font-size: 14px;
        line-height: 20px;
        color: #626970;
      }

      &:last-child {
        margin-top: 6px;
      }

      :global {
        .ant-skeleton {
          margin: 4px 0;

          .ant-skeleton-paragraph {
            margin-bottom: 0;

            li {
              width: 100% !important;
              height: 12px;
            }
          }

          &:nth-child(1) {
            margin-right: 4px;
          }

          &:nth-child(2) {
            width: 24px;
          }
        }
      }
    }
  }

  .ShowMoreDropdown {
    visibility: hidden;

    svg {
      transform: scale(0.8);
    }
  }

  .SelectCheckbox {
    position: absolute;
    top: 12px;
    left: 12px;
    display: none;
  }

  &:hover {
    .SelectCheckbox {
      display: block;
    }

    .ShowMoreDropdown {
      visibility: visible;
    }
  }

  &.Selected {
    border-color: #0038ff;

    .SelectCheckbox {
      display: block;
    }

    .ShowMoreDropdown {
      visibility: visible;
    }
  }
}
